*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2c3e50;
}
h1{
    margin: 0 auto;
    color: white;
    position: relative;
    font-size: 46px;
    margin-bottom: 20px;
}
.container{
    height: 70vh;
    width: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 12vmin;
    background-color: #1f6fbe;
}
#reset{
    align-self: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.25rem;
    border: 0px;
    background-color: #2c333a;
    color: white;
    border-radius: 1rem;
}
#new-btn{
    align-self: center;
    align-content: center;
    padding: 1rem;
    justify-self: center;
    font-size: 1.05rem;
    border: 0px;
    background-color: #2c333a;
    color: white;
    border-radius: 1rem;
}
#msg{
    color: #1f6fbe;
    font-size: 6vmin;
    text-align: center;
}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}